[supervisord]
nodaemon = {{ supervisor_nodaemon }}
childlogdir = {{ supervisor_log_dir }}
user = {{ supervisor_user }}
pidfile = /var/run/supervisord.pid

{% if supervisor_unix_http_server_enable %}
[unix_http_server]
file = {{ supervisor_unix_http_server_socket_path }}
chown = {{ supervisor_user }}
{% if supervisor_unix_http_server_password_protect %}
username = {{ supervisor_user }}
password = {SHA}{{ supervisor_password|hash('sha1') }}
{% endif %}

[supervisorctl]
serverurl = unix://{{ supervisor_unix_http_server_socket_path }}
{% if supervisor_unix_http_server_password_protect %}
username = {{ supervisor_user }}
password = {{ supervisor_password }}
{% endif %}
{% endif -%}

{%- if supervisor_inet_http_server_enable %}
[inet_http_server]
port = {{ supervisor_inet_http_server_port }}
{% if supervisor_inet_http_server_password_protect %}
username = {{ supervisor_user }}
password = {SHA}{{ supervisor_password|hash('sha1') }}
{% endif %}

[supervisorctl]
serverurl = http://{{ 'localhost' if supervisor_inet_http_server_port.split(':')[0] == '*' or supervisor_inet_http_server_port.split(':')[0] == '' else supervisor_inet_http_server_port.split(':')[0] }}:{{ supervisor_inet_http_server_port.split(':')[1] }}
{% if supervisor_inet_http_server_password_protect %}
username = {{ supervisor_user }}
password = {{ supervisor_password }}
{% endif %}
{% endif %}

[include]
files = {{ supervisor_config_path }}/conf.d/*.conf

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface